basePath: /api/v1
host: localhost:8080
info:
  contact: {}
  description: API Gateway service for Minisource
  title: Gateway Service API
  version: "1.0"
paths: {}
schemes:
- http
- https
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
